h1{margin-left: 50;}
h3{width: 340px; margin: 40px;}
.classs{color: lightskyblue; background-color: lightslategray ; 
	background-image: url(https://fondosmil.com/fondo/36779.jpg);
	background-size: 1200px;}
#spanid{}
#magali{padding: 60px ;border: 6px dashed whitesmoke;
	border-radius: 34px; }
img{ height: 100px; width: 100px; margin-left: 100px; }
p{width: 350;}