h1{color: cornflowerblue;}
img{width: 250px; height: 250px;}
#thirdDiv{height: 600px;
			width: 400px;
			background-color: orangered; 
			padding: 50px; 
			border: 12px dashed yellow;}
#spanid{margin: 50px;}
